<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="extractionFolder" value="packages" />
    <add key="dbTableName" value="ObjectDetectionImageAnnotation" />
    
    <!-- Set these according to your database -->
    <add key="bucketName" value="" />
    <add key="accessKeyId" value="" />
    <add key="secretAccessKey" value="" />
    
    <!-- Set these if you want to use a local database -->
    <add key="s3ServiceUrl" value="" />
    <add key="dynamoDbServiceUrl" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>
