<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.104.21" targetFramework="net461" />
  <package id="AWSSDK.DynamoDBv2" version="3.3.104.23" targetFramework="net461" />
  <package id="AWSSDK.S3" version="3.3.110.19" targetFramework="net461" />
  <package id="BetterFolderBrowser" version="1.0.0" targetFramework="net461" />
  <package id="log4net" version="2.0.10" targetFramework="net461" />
</packages>