<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.101.15" targetFramework="net461" />
  <package id="AWSSDK.DynamoDBv2" version="3.3.101.14" targetFramework="net461" />
  <package id="AWSSDK.S3" version="3.3.102.5" targetFramework="net461" />
  <package id="BetterFolderBrowser" version="1.0.0" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
</packages>